# Ultimate Health
#GATSBY_SITENAME=Ultimate Health
#GATSBY_LANGUAGE=en
#GATSBY_THEME=ultimate
#GATSBY_THEME_COLOR=FB893F
#GATSBY_MANIFEST_NAME=Ultimate Health - Life is in the nature
#GATSBY_MANIFEST_SHORTNAME=Ultimate Health
#GATSBY_WP_URL=localhost:7012
#GATSBY_WP_PROTOCOL=http
#GATSBY_GOOGLE_ANALYTICS

# Cafe na Veia

#GATSBY_SITENAME=Café na Veia
#GATSBY_LANGUAGE=pt
#GATSBY_THEME=cafe
#GATSBY_THEME_COLOR=FF0154
#GATSBY_MANIFEST_NAME=Cafe na Veia - Estilo Vida Util/Inutil
#GATSBY_MANIFEST_SHORTNAME=Cafe na Veia
#GATSBY_WP_URL=localhost:7014
#GATSBY_WP_PROTOCOL=http
#GATSBY_GOOGLE_ANALYTICS

# Poupanca Hoje

#GATSBY_SITENAME=Poupança Hoje
#GATSBY_LANGUAGE=pt
#GATSBY_THEME=poupanca
#GATSBY_THEME_COLOR=00A651
#GATSBY_MANIFEST_NAME=Poupança Hoje - Investindo e Lucrando
#GATSBY_MANIFEST_SHORTNAME=Poupança Hoje
#GATSBY_WP_URL=localhost:7016
#GATSBY_WP_PROTOCOL=http
#GATSBY_GOOGLE_ANALYTICS=UA-17478010-21
