# Ultimate Health
GATSBY_THEME=ultimate
GATSBY_THEME_COLOR=fb893f
GATSBY_MANIFEST_NAME=Ultimate Health - Life is in the nature
GATSBY_MANIFEST_SHORTNAME=Ultimate Health
GATSBY_WP_URL=localhost:7012
GATSBY_WP_PROTOCOL=http

# Cafe na Veia

#GATSBY_THEME=cafe
#GATSBY_THEME_COLOR=FF0154
#GATSBY_MANIFEST_NAME=Ultimate Health - Life is in the nature
#GATSBY_MANIFEST_SHORTNAME=Ultimate Health
#GATSBY_WP_URL=localhost:7012
#GATSBY_WP_PROTOCOL=http

# Poupanca Hoje

#GATSBY_THEME=poupanca
#GATSBY_THEME_COLOR=FF0154
#GATSBY_MANIFEST_NAME=Ultimate Health - Life is in the nature
#GATSBY_MANIFEST_SHORTNAME=Ultimate Health
#GATSBY_WP_URL=localhost:7012
#GATSBY_WP_PROTOCOL=http
